
*{
  box-sizing: border-box;
    user-select: none;
  -webkit-user-select: none;   
  -ms-user-select: none;       
  -webkit-touch-callout: none;
}

html{
  font-family:"Golos";
}
body{
  margin: 0;
  color:var(--text-primery);
  background:var(--bg);
}
h1,h2,h3,p{
  margin: 0;
}
