html{
    font-size: 18px;
}
@font-face {
    font-family:"Golos";
    src: url(../../font/GolosText-Regular.ttf);
    font-weight: 400;
}
h1{
    color: var(--text-primery);
    font-size: 2.5rem;
    font-weight: 400;
}
h2,h3{
    color: var(--text-primery);
    font-size: 1.6rem;
    font-weight: 400;
}
p{
    color: var(--text-primery);
    font-size: 1rem;
    line-height: 30px;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.footer-info>.left{
    text-align: left;
}
.small-txt{font-size: 0.78rem;}
.big-txt{font-size: 2.5rem;}


@media(max-width:500px){
    .small-mobile-txt{font-size: 0.78rem;}
    h1{
        font-size: 1.6rem;
    }

}