.gap-1{--gutter: 16px;}
.gap-2{--gutter: 18px;}
.gap-4{--gutter: 48px;}
.gap-5{--gutter: 56px;}
.gap-6{--gutter: 71px;}
.dm{
    margin: 0;
}
.wpi{
    padding-inline: 0;
} 
.wptb{
    padding-top: 0;
    padding-bottom: 0;
    
}
.ptb1{
    padding-top: 32px;
    padding-bottom: 32px;
}
.pb72{
    padding-bottom:72px;
}
.ptb2{
    padding-top: 48px;
    padding-bottom: 48px;
} 

