:root{
    --text-primery:#000403;
    --bg:#F2F3F7;
    --bg-primery-btn:#22ABE2;
    --bg-secondary-btn:#c3c5c741;
    --stroke-secondary-btn:#67717E;
    --grad-cta-1: #2273AF;
    --grad-cta-2: #22ABE2;
    --grad-cta-3: #f2f3f700;
    --grad-cta-4: #f2f3f700;
}

.bg-cta .g1{ stop-color: var(--grad-cta-1); }
.bg-cta .g2{ stop-color: var(--grad-cta-2); }
.bg-cta .g3{ stop-color: var(--grad-cta-3); }
.bg-cta .g4{ stop-color: var(--grad-cta-4); }

@media (prefers-color-scheme: dark){
  :root{
    --text-primery:#FFFFFF;
    --bg:#000403;
    --bg-secondary-btn:#c3c5c74e;
    --stroke-secondary-btn:#c3c5c7;
    --grad-cts-1: #02373D;
    --grad-cts-2: #02373D;
    --grad-cts-3: rgba(0,0,0,0);
    --grad-cts-4: rgba(0,0,0,0);
  }
}