.container-info{
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}
.container-info>h2,.container-info>p{
    margin: 0;
}
.container-info>a{
    margin-top: 14px;
}
.container>img{
    width:100%;
}

@media(max-width:500px){
    .news{
        -webkit-mask-image: none;
        mask-image:none;
    }
}
