
.hero-buttons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
}
.container-info{
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}
.container-info>h2,.container-info>p{
    margin: 0;
}
.container-info>a{
    margin-top: 14px;
}
.container>img{
    width:100%;
}



.main-cta{
    position: relative;
    overflow: hidden;
}
.main-cta>svg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.main-cta-info{
    display: grid;
    gap: var(--gutter);
    max-width: 680px;
    left: 0; right: 0;
    margin: auto;
    position: absolute;
    top: 30%;
}
@media(max-width:1920px){
    .main-cta>svg{
        width: 1920px;
    }
}
@media(max-width:1440px){
    .main-cta{
        width: 100%;
    }
}
@media(max-width:1400px){
    .order-1{
        order: -1;
    }
}
@media(max-width:500px){
    .main-cta{
        display: flex;
        flex-direction: column;
    }
    .main-cta-info{
        margin-inline: 1rem;
    }
    .main-cta-info,.main-cta>svg{
        position: static;
    }
    .main-cta>svg{
        width: 100%;
        transform: translateX(0);
        order: 1;
    }
    .main-cta-info>h2, 
    .main-cta-info>p{
        text-align: left;
    }
    .news{
        -webkit-mask-image: none;
        mask-image:none;
    }
}
