
.hero-buttons-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-inline: 1rem;
}
.accent-color{
    text-align: center;
}
.container>img{
    width:100%;
}
@media(max-width:1400px){
    h1,h1+p{
        margin-inline: 1rem;
    }
    .order-1{
        order: -1;
    }
}
