.steps>.carousel-card{
    max-width: 100%;
}
.steps>.carousel-card>img{
    width: 100px;
}
.steps>.carousel-card:last-child{
    display: flex;
    justify-content: center;
    background-color: var(--bg-primery-btn);
    transition: 0.3s;
}
.reverse:nth-child(2)>.operation-control-info,
.reverse:nth-child(4)>.operation-control-info{
    order: -1;
}
.reverse:nth-child(3)>.operation-control-info{
    order: 1;
}
@media(max-width:500px){
.reverse:nth-child(3)>.operation-control-info{
    order: -1;
}
}
@media(hover:hover) and (pointer: fine){
    .steps>.carousel-card:last-child:hover{
        box-shadow: 0 0 15px var(--bg-primery-btn);
    }
}