.container-info{
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}
.container>img{
    width:100%;
}

.reverse:nth-child(3)>.container-info,
.reverse:nth-child(5)>.container-info{
    order: -1;
}
.reverse:nth-child(4)>.container-info{
    order: 1;
}
.steps-wrapper{
    gap: 24px;
}
.steps-wrapper>.carousel-card{
    max-width: 100%;
}
.steps-wrapper>.carousel-card>img{
    width: 100px;
}
.steps-wrapper>.carousel-card:last-child{
    display: flex;
    justify-content: center;
    background-color: var(--bg-primery-btn);
    transition: 0.3s;
}
.steps{
    display: grid;
    gap: var(--gutter);
}
.enter-txt{
    padding-top: 16vh;
    padding-bottom: 0;
    line-height: 30px;
}
@media(max-width:1024px){
    .enter-txt{
        padding-top: 60px;
        padding-bottom: 0;
    }
}
@media(max-width:1024px){
.reverse:nth-child(4)>.container-info{
    order: -1;
}
}
@media(hover:hover) and (pointer: fine){
    .steps-wrapper>.carousel-card:last-child:hover{
        box-shadow: 0 0 15px var(--bg-primery-btn);
    }
}