.resources{
    gap: 24px;
}
.news-wrapper>.carousel-card{
    max-width: 100%;
}
.news{
    display: grid;    
    gap: var(--gutter);
}
.news-wrapper{
    gap: var(--gutter);
}
@media(max-width:500px){
    .resources{
        padding-top: 60px;
    }
    h1{
        padding-bottom: 60px;
        text-align: center !important;
    }
}
