.carousel {
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    > * {
        flex: 0 0 100%;
    }
    &:hover .group {
        animation-play-state: paused;
      }
  }


  .group {
    display: flex;
    gap: 32px;
    padding-right: 30px;
    will-change: transform; 
    animation: scrolling 20s linear infinite;
    align-items: center;
  }
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
/* partners */
.reviews{
  position: relative;
  background: var(--bg);
  margin-top: 100px;
  margin-bottom: 100px;
}

.reviews::before,
.reviews::after{
  content:"";
  position:absolute; top:0; bottom:0;
  width:var(--fade);
  pointer-events:none;
  z-index:3;
}
.reviews::before{ left:0;  background:linear-gradient(90deg, var(--bg) 0%, transparent 100%); }
.reviews::after { right:0; background:linear-gradient(270deg, var(--bg) 0%, transparent 100%); }


.reviews__viewport{
  position: relative;
  overflow: auto hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  padding: 40px 0;          
  block-size: auto;  
}
.reviews__viewport::-webkit-scrollbar{ display:none;   scroll-snap-type: none !important;}


.reviews__rail{
  display:flex;
  align-items:stretch;
  gap:var(--gap);
  margin:0;
  list-style:none;
  padding-inline: max(var(--fade), var(--edge, 1rem));
}






/* reviews */
.news{
  -webkit-mask-image: linear-gradient(to right,
  transparent 0,
  var(--bg) var(--fade),
  var(--bg) calc(100% - var(--fade)),
  transparent 100%
  );
  mask-image: linear-gradient(to right,
  transparent 0,
  var(--bg) var(--fade),
  var(--bg) calc(100% - var(--fade)),
  transparent 100%
  );
}
