.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    gap:clamp(12px,2vw,40px);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg);
    height: var(--nav-h);
}
.menu>li{
    font-size: 0.7rem;
}
nav a{
    color: var(--text-primery);
    text-decoration: none;

}
.desc-menu-button{
    display: inline;
} 
.mobile-menu-button{
    display: none;
}
#menuToggle{
    display: none;
}
.layer{
  display: none;
}
@media(max-width:500px){
    .mobile-menu-button{
        display: inline;
    }  
    .desc-menu-button{
        display: none;
    } 
    .layer {
        position: absolute;
        display: block;
        width: 100vw;
        height: 88px;
        background-color: var(--bg);
        z-index: 2;
        margin-left: -1rem;
    }
#menuToggle
{
  display: block; 
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  background-color: #44ABE1;
  padding: 13px 16px 12px 17px;
  border-radius: 100px;
  box-shadow: 0 0 15px #44ABE1;
    z-index: 3;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; 
  -webkit-touch-callout: none;
  right: 10px;
  bottom: 8px;
  z-index: 4;
} 
nav img{
  position: relative;
  z-index: 3;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-of-type
{
  transform-origin: 0% 0%;
}
#menuToggle span:last-child
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span:first-of-type
{
  transform: rotate(45deg) translate(4px, -6px);
}
#menuToggle input:checked ~ span:nth-child(3){   /* средняя полоса */
  opacity:0;
  transform:scaleX(0);
}
#menuToggle input:checked ~ span:last-child
{
  transform: rotate(-45deg) translate(3px, 6px);
}
nav{
  position: relative;
  padding: 1rem 0;
  height: auto;
  font-size: 1rem;
}
.menu{
  position: absolute;
  width: 100vw;
  left:-1rem;
  padding: 1.7em;
  margin: 0;
  background: var(--bg);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(0, -45%);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  flex-direction: column;
  align-items: start;
  z-index: 1;
}
.menu>li{
  margin-bottom: .45rem;
}
.menu:has(+ #menuToggle > #menuCheckbox:checked){
  transform: translate(0, 55%);
}
}
