footer>section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer section article:nth-child(1){
    width: 270px;
}
footer section article:nth-child(2){
    width: 136px;
}
footer section article:nth-child(3){
    width: 136px;
}
footer section article:nth-child(4){
    width: 270px;
}
footer section article:nth-child(5){
    width: 159px;
}
.footer-info>p{
    line-height: 17px;
}
.footer-info a{
    text-decoration: none;
    color: var(--text-primery);
}
.conditions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.conditions>a{
    text-decoration: none;
    color: #616465;
}
@media(max-width:500px){
    footer section article:nth-child(1),
    footer section article:nth-child(2),
    footer section article:nth-child(3),
    footer section article:nth-child(4),
    footer section article:nth-child(5),
    .conditions>a
    {
        width: 100%;
    }
    footer>section{
        justify-content:start;
    }
}