.hero-content{
    overflow: hidden;
    position: relative;
}
.hero-content>video{
    width: 100%;
    position: absolute;
    top:-10%;
    object-fit: cover;
    inset: 0;
}
.hero-info-wrapper{
    position: relative;
    inset: 0;
    display: grid;
    align-content: start;
    padding-top: 7rem;
    margin-top:14rem;
    background: linear-gradient(0deg,var(--bg) 0%, var(--bg) 75%, color-mix(in srgb, var(--bg) 0%, transparent) 100%);
}


.hero-info{
    text-align: center;
}
@media(max-width:1440px){
    .hero-info-wrapper{
        padding-top: 10rem;
        margin-top:8rem;
    }
}
@media(max-width:972px){
    .hero-info-wrapper{
        padding-top: 3rem;
        margin-top:4rem;
    }
}
@media(max-width:600px){
    .hero-info-wrapper{
        padding-top: 7rem;
        margin-top:4rem;
    }
}
@media(max-width:500px){
    .hero-info{
        text-align: left;
    }
}