.hero-content{
    overflow: hidden;
    position: relative;
}
.hero-content>video,.hero-content>img{
    width: 100%;
    position: absolute;
    top:-10%;
    object-fit: cover;
    inset: 0;
}
.hero-info-wrapper{
    position: relative;
    inset: 0;
    display: grid;
    align-content: start;
    padding-top: 7rem;
    margin-top:14rem;
    background: linear-gradient(0deg,var(--bg) 0%, var(--bg) 75%, color-mix(in srgb, var(--bg) 0%, transparent) 100%);
}

h1,h1+p{
    margin: 0;
}
.hero-info{
    text-align: center;
    max-width:876px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gutter);
}
.second-header{
    background-image: url(../../img/hero-img-abot.webp);
    background-size: cover;
    background-repeat: no-repeat;
}
.second-header,
.second-header.hero-info-wrapper{
    position: static;
}
.second-header>.hero-info-wrapper{
    margin-top: 26rem;
    background: linear-gradient(
        0deg,
        var(--bg) 0%,
        color-mix(in srgb, var(--bg) 75%, transparent 10%) 60%,
        color-mix(in srgb, var(--bg) 0%, transparent 100%) 100%);
}

@media(max-width:1440px){
    .hero-info-wrapper{
        padding-top: 10rem;
        margin-top:8rem;
    }
}
@media(max-width:972px){
    .hero-info-wrapper{
        padding-top: 3rem;
        margin-top:4rem;
    }
}
@media(max-width:600px){
    .hero-info-wrapper{
        padding-top: 7rem;
        margin-top:4rem;
    }
}
@media(max-width:500px){
    .hero-info{
        text-align: left;
        margin-inline: 1rem;
    }
    .second-header{
        background-size: 100%;
    }
    .second-header>.hero-info-wrapper{
        margin-top: 5rem;
    }
}